

.App {
 
background-color: black;
min-height: 100vh;

}


.Header {
  height: 70px;
  background-color: #121212;
  width: 100%;
  margin-bottom: 20px;
 
}

img {
 overflow: hidden;
 width: 180px;
  position: relative;
 right: 0px;
 object-fit: cover;
 padding-right: 10px;
 padding-left: 10px;
 cursor: pointer;
 
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.brnwrapper {

  margin-left: 30px;
  position: relative;
  margin-right: 20px;
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
}
.horizontal{
  
  margin-right: 20px;
  display: flex;
  position: relative;
  width: 1200px;
  object-fit: cover;
  overflow: hidden;
  
}

@media screen and (max-width: 1200px) {
  .horizontal {
     width: 100%;

    
  }
}

@media screen and (max-width: 1200px) {
  .rightButton {
    display: none;
  }
  
}



.imgcontainer {
  display: flex;
  position: relative;


}
@media screen and (max-width: 1200px) {
  .sliderimgconainer {
   height: 520px;

  }
  
}


.rightButton{
  text-align: center;
  background-color: rgb(8,8,8,0.8);
  border: 1px solid white;
  width: 50px;
  height: 60px;
  border-radius: 5px;
  position: absolute;
  top: 130px;
  left: 95.2%;
  cursor: pointer;

  -webkit-user-select: none;
}

.rightButton span {
  display: block;
  font-size: 35px;
  margin-top: 5%;
  color: white;
  font-weight: 800; 
}

.left {
  left: -2%;
  -webkit-user-select: none;
}
.sl {
  top: 230px;
  left: 93%;
}
.lsl {
  top: 230px;
  left: 1.5%;
}
.filmTitle {
  background-color: #1a1a1a;
  position: relative;
  bottom: 7px;
  min-height: 80px;
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.title{
  display: block;
  padding-top: 3px;
  margin-left: 5px;
  padding-bottom: 3px;
  color: white;
}

.filmTitle .score {
  color: #b19019;
}
.score span {
  color: #b5bbb1;
}
.movieTitle {

  margin-left: 10px;
  margin-bottom: 10px;
  color: silver;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  flex-wrap: wrap;
  width: 100%;
}
video  {
  background-color: white;
}
.videocontainer {
  display: flex;
  height: 500px;

  margin-bottom: 70px;
}
.videocontainer img {
  height: 100%;
 
  width: 300px;
}
.slider {
width: 1300px;
position: relative;
margin-right: 20px;
display: flex;
object-fit: cover;
overflow: hidden;
}
.videocontainer iframe{
margin-right: 20px;
}
.preloader {
  margin-left: 30%;
  margin-top: 14%;
}


@media screen and (max-width: 1200px) {
  .videocontainer img {
    margin-left: 15px;
    width: 320px;
    height: 480px;
    margin-right: 945px;
      

  }
  
}
@media screen and (max-width: 1200px) {
  .videocontainer iframe{
    display: none;

  }
  
}
