.wrapp {
  display: flex;
  width: 76%;
  margin-left: auto;
  margin-right: auto;
 

  .wr {
    display: flex;
    flex-wrap: wrap;
   
    .filmHeader {
      position: relative;
      top: 20px;
      width: 93%;
      height: 70px;
      margin-left: 20px;
      display: flex;
      justify-content: space-between;
      .column {
        display: flex;
      }
         .mtitle{
          font-size: 30px;
          font-family: Arial, Helvetica, sans-serif;
          color: white;
        }
       
        .date {
          margin-left: 10px;
          color: #c0c0c0;
          font-size: 24px;
          
        }
        .star {
          color: #e4bb24;
          font-size: 38px;
          margin-right: 5px;

        }
       
        .rate {
         
          color: white;
          font-size: 26px;
          margin-right: 20px;
          position: relative;
          top: 5px;
        }
        .podsos{
          color: #929090;
          position: relative;
          right: 24px;
          top: 5px;
        }
        .count {
          position: relative;
          font-size: 12px;
          bottom: 4px;
          color: #c0c0c0;
        }
        @media screen and (max-width: 1200px){
          .mtitle{
            font-size: 20px;
          }
          .date {
            font-size: 16px;
            margin-left: 0px;
          }
          .rate { 
            font-size: 16px;
            margin-right: 20px;
        
          }
          .podsos{
        
            font-size: 12px;
            
          }
          .count {
            font-size: 8px;
            bottom: 4px;
           
          }
        }
      }
   
    img {
      margin-top: 30px;
      width: 25%;
      height: 465px;
    }
    @media screen and (max-width: 1200px){
      img {
        margin-top: 30px;
        width: 20%;
        height:115px;
        display: none;
         
           }
    }
    iframe {
      width: 70%;
      height:515px
    }
    @media screen and (max-width: 1200px){
      iframe {
        width: 100%;
        height:215px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .hiddenimg {
        display: block;
        width: 25%;
        height: 185px;
        position: relative;
        bottom: 30px;
      }
    }

    .text {
      margin-left: 20px;
      color: white;
      width: 40%;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 1200px){
      .text {
        width: 60%;
      }
    }

    h1 {
      margin-left: 10px;
      width: 100%;
      color: #f5c518;
    }
  }
  
  
  iframe {

  }
}

@media screen and (max-width: 1200px){
  .wrapp{
   width: 100%;
   
  }
 
}