.wrapp {
  display: flex;
  width: 76%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;

  .wr {
    display: flex;
    flex-wrap: wrap;
   
    .filmHeader {
      position: relative;
      top: 20px;
      width: 93%;
      height: 70px;
      margin-left: 20px;
      display: flex;
      justify-content: space-between;
      .column {
        display: flex;
      }
         .mtitle{
          font-size: 30px;
          font-family: Arial, Helvetica, sans-serif;
          color: white;
        }
       
        .date {
          margin-left: 10px;
          color: #c0c0c0;
          font-size: 24px;
          
        }
        .star {
          color: #e4bb24;
          font-size: 38px;
          margin-right: 5px;

        }
       
        .rate {
         
          color: white;
          font-size: 26px;
          margin-right: 20px;
          position: relative;
          top: 5px;
        }
        .podsos{
          color: #929090;
          position: relative;
          right: 18px;
          top: 15px;
        }
        .count {
          position: relative;
          font-size: 12px;
          bottom: 4px;
          color: #c0c0c0;
        }
        .together {
          display: flex;
        }
        @media screen and (max-width: 1200px){
          .mtitle{
            font-size: 18px;
            width: 250%;
            
          }
          .date {
            font-size: 16px;
            margin-left: 5px;
            width: 100%;
          }
          .rate { 
            font-size: 16px;
            margin-right: 20px;
        
        
          }
          .podsos{
            display: block;
            font-size: 12px;
            width: 100%;
            top: 8px
            
          }
          .count {
            font-size: 8px;
            bottom: 4px;
           
          }
          .star {
            position: relative;
            bottom: 5px;
          }
        }
      }
   
    img {
      margin-top: 30px;
      width: 25%;
      height: 465px;
    }
    @media screen and (max-width: 1200px){
      img {
        margin-top: 30px;
        width: 20%;
        height:115px;
        display: none;
         
           }
    }
    iframe {
      width: 70%;
      height:515px
    }
    .hiddenimg {
      display: none;
    }
    @media screen and (max-width: 1200px){
      iframe {
        width: 100%;
        height:215px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .hiddenimg {
        display: block;
        width: 25%;
        height: 185px;
        position: relative;
        bottom: 30px;
      }
    }

    .text {
      margin-left: 20px;
      color: white;
      width: 40%;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 1200px){
      .text {
        width: 60%;
      }
    }

    h1 {
      margin-left: 10px;
      width: 100%;
      color: #f5c518;
    }
  }
  
  
  iframe {

  }
}
.recomendation {
  display: flex;

  height: 370px;
  background-color: black;
  .recom_map {
       
    justify-content: space-between;
    a{
      text-decoration: none;
      
    }
 
 
    .recImg {
      margin-left: 15px;
      margin-right: 15px;
      width: 80%;
    height: 280px;
    display: block;
    }
  
    .title_rec {
      color: white;
      margin-left: 30px;
      font-size: 18px;
    }
    @media screen and (max-width: 1200px){
      .recImg{
        width: 180px;
    
     
      }
      .title_rec {
      
        margin-left: 35px;
        font-size: 16px;
      }
    }
  
  }


}
@media screen and (max-width: 1200px){
  .wrapp{
   width: 100%;
   
  }
}